<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pickle Rick</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <section id="blog">
        <div class="container">
            <div class="row">
                <!-- blog post -->
                <div class="col-12 py-3">
                    <div class="card w-100">
                        <div class="row p-3">
                            <div class="col-12">
                                <h2>Blog Post Heading</h2>
                            </div>
                            <div class="col-12">
                                <p>Blog post sub heading</p>
                            </div>
                            <div class="col-12">
                                <p>
                                    Lorem ipsum dolor sit amet, tota euripidis ei sed. Persecuti adolescens appellantur cu mei, ei quot appellantur eos. Ei vis erat semper, eum an legere admodum, per probo prima omnes ei. Eleifend cotidieque referrentur vel ad, homero gubergren nec te. Id duo alia persius facilisis. Usu ea illud ignota posidonium.
                                </p>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-success">Read more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- blog post -->
            </div>
        </div>
    </section>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>